<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>About me</title>
        <link rel="stylesheet" th:href="@{/css/story.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="main">
            <div class="story__header container">
                <div class="flexitem__85">
                    <p class="story__title bigger clickable left__3">
                        Hi! I'm Tuan.
                    </p>
                    <p class="left__3">This is my first blog, and it's still too simple.</p>
                    <p class="left__3">I don't have any plans to write anything on the blog.</p>
                    <p class="left__3">But who knows, maybe I will share something, someday. 😄</p>
                </div>
            </div>
            <div class="left__3">
                👉 view my
                <a class="clickable"
                    href="/stories">
                    /stories
                </a>
            </div>
        </div>
    </body>
</html>