<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Error!</title>
        <link rel="stylesheet" th:href="@{/css/story.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="main">
            <div class="story__header container">
                <div class="flexitem__85">
                    <p class="story__title bigger clickable left__3">
                        Whoops!
                    </p>
                    <p class="left__3">Something went wrong. 😐</p>
                </div>
            </div>
            <div class="left__3">
                👉 back to my
                <a class="clickable"
                    href="/stories">
                    /stories
                </a>
            </div>
        </div>
    </body>
</html>