<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <link rel="stylesheet" th:href="@{/css/story.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="main">
            <h1 class="left__3">Hi there! 👋</h1>
            <div class="left__3">
                👉 know more
                <a class="clickable"
                    href="/about">
                    /about
                </a>
                me
            </div>
            <div class="left__3"></div>
            <div class="left__3">
                👉 view my
                <a class="clickable"
                    href="/stories">
                    /stories
                </a>
            </div>
        </div>
    </body>
</html>